# OS
.DS_Store
Thumbs.db

# Gradle
.gradle/
build/
*/build/

# Android Studio / IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Config locale (SDK, paths)
local.properties

# Native / NDK
.externalNativeBuild/
.cxx/
obj/

# Kotlin
.kotlin/

# Logs & temp
*.log
*.swp
*.swo

# APK / AAB
*.apk
*.aab

