# Gradle
.gradle/
build/
*/build/

# Kotlin/Java
*.class
*.log
*.dex
*.jar
*.apk

# IDE
.idea/
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store

/captures
.externalNativeBuild
.cxx
*.hprof

# Local files
local.properties

build/
**/build