# --- Base de données PostgreSQL ---
POSTGRES_DB=forkeat
POSTGRES_USER=admin_forkeat
# Mettre un mot de passe fort en local
POSTGRES_PASSWORD=
POSTGRES_PORT=5432

# --- Base de données Neo4j ---
# Mettre un mot de passe fort en local
NEO4J_PASSWORD=
NEO4J_HTTP_PORT=7474
NEO4J_BOLT_PORT=7687

# --- Stripe ---
# Demandez les clés au chef de projet ou utilisez votre propre compte Stripe Test
STRIPE_PUBLIC_KEY=pk_test_51SqEvAEkTcQrgHYXlFG0ojSDK3GvGvV6dmBGDfP59WnQZS88qrIT9rOpKYexzMgc03l11OuQyV3OUl3fyJTvrGik004OwGeQ0p
STRIPE_SECRET_KEY=sk_test_51SqEvAEkTcQrgHYXwmmL9RP47Va6IRgIkczuh2mduDck0I3itfmnhZod3HgVOUOaMnjHFulqxlkcw1sDxz5Arndt00QjGfbc8Z
STRIPE_WEBHOOK_SECRET=whsec_...

# --- Application ---
APP_PORT=8080