.idea/
.env
target/

# Données brutes d'import (local seulement)
all_recipes.json
scripts/
../.metals/
../.vscode/
.DS_Store
data/
../env

# Debezium offsets
*.dat
ollama/*
scripts 21.10.55/*
.metals/*
.vscode

# Nginx logs
nginx/logs/*.log
